@model IEnumerable<HeladeriaTAMS.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            
            <td>
                 <button type="button" class="btn">
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                </button>
                <button type="button" class="btn">
                    <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> 
                </button>
                <button type="button" class="btn">
                    <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                </button>
                 
                 
               
            </td>
        </tr>
}
    </tbody>
</table>